

/* Copied from Hummus and Veggies Bootstrap site: */


.container Nav {
  background-color: #FFD459;
  font-family: 'Amatic SC', cursive;
  font-size:35px; 
  border-bottom-width: 10px;
  border-bottom-color: #002d62;
  
}

strong  {
color:  #111111;

}  

.row {
padding: 20px 0;
  
}



h5  {
  font-family: 'Kalam', cursive;
}



.menuSegment {
background-color:#0c8a42 ;
}

.active {
background-color: #d6483c;
}



.carousel-caption {
background-color: #0c8a42;

}



.carousel {
box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.2) ;
font-family: 'Kalam', cursive;

}

.Table {
font-family: 'Sanchez', serif;
}

.prices {
font-family: 'Kalam', cursive;
font-size: x-large;
}

thead {

}

.modal-header {
background-color: #0c8a42;
}

#navButton {
background-color: #0c8a42;
font-family:'Kalam', cursive;

}

body {
 
}

.card-title{
background-color: #0c8a42;
color: white;
padding-left: 1rem;
padding-top: 1rem ;
padding-bottom:1rem ;

}

#headingOne, #headingTwo,#headingThree, #headingFour {
background-color: #0c8a42;
font-family:'Kalam', cursive;
/* background-image: url("images/pic44.jpg"); */
}

.container Button {
  font-family: 'Kalam', cursive;
}


