

body {
  background-image: linear-gradient(rgb(235, 236, 228), #aaa);

}

Footer .container  {
  font-family: 'Kalam', cursive;
  background-color: #0c8a42;
  

  
}

.site-footer a{
  color: #eee;
}


.container  {
  background-color: #eee;
}







 Nav {
  background-color: #FFD459;
  font-family: 'Amatic SC', cursive;
  font-size:35px; 
  border-bottom-width: 10px;
  border-bottom-color: #002d62;
  
}
 
.navbar-collapse {
  margin-left: 50px;
}

.navbar-brand img{
  margin-left: 20px;
}



strong  {
color:  #111111;

}  

.row {
padding: 5px 0;

  
}



h5, h3  {
  font-family: 'Kalam', cursive;
}



.menuSegment {
background-color:#0c8a42 ;
}

.active {
background-color: #d6483c;

}



.carousel-caption {
background-color: #0c8a42;

}



.carousel {
box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.2) ;
font-family: 'Kalam', cursive;

}




.prices {
font-family: 'Kalam', cursive;
font-size: x-large;
}

thead {

}

.modal-header {
background-color: #0c8a42;
}

#navButton {
background-color: #0c8a42;
font-family:'Kalam', cursive;

}



.card-title{
background-color: #0c8a42;
color: white;
padding-left: 1rem;
padding-top: 1rem ;
padding-bottom:1rem ;

}

#headingOne, #headingTwo,#headingThree, #headingFour {
background-color: #0c8a42;
font-family:'Kalam', cursive;
/* background-image: url("images/pic44.jpg"); */
}

.container Button {
  font-family: 'Kalam', cursive;
}

Table{
  font-family:'Kalam', cursive;
  font-size: x-large;
  
}




